
  /* css reset */
/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} */



/* HTML5 display-role reset for older browsers */
/* article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} */
  /* css reset */



  html{
      font-size: 62.5%;
  }

/* slider component */

.hi{
    width: 100%;
    height: 70vh;
    /* border: 3px solid yellow */
}.hello{
    width:100%;
    height:70vh;
    margin: auto;
    object-fit: contain; 

  
}
.hello img{
    height: auto;
    object-fit: contain; 
}
@media (max-width: 900px) {
    .hello{
      width:auto;
      height:auto;
    }
    html{
        font-size:40%;
    }
.hi{
    width: auto;
    height: auto;
}
}
/* slider component */

       /* index page */

       .index-sm-image{
           display: none;
       }
       @media (max-width: 900px) {
       .index-image{
           width:50%;
           height: 50%;
           border: 2px solid red;
           display: none;
       }
    }


       /* index page */


    /* header page */
       .small-header{
           display: none;
       }
    
       @media (max-width: 900px) {
           .big-header{
               display: none;
           }
           .small-header{
            display:block;
        }
    
    }

    /* header page */


    